{% extends "layout.html" %}
   {% block content %}
    <div class="container-fluid" style="background-color:antiquewhite;">
        <div class="row mt-3">
            <div class="col mt-3">
                <div class="card" style="width: 18rem;">
                    <img src="../images/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Cute cat1</h5>
                        <p class="card-text" style="text-align: center;">This photo is one of cat that I thought it's cute.</p>
                        <div style="text-align: center;">
                            <a href="../index.html" class="btn btn-primary" style="background-color: cadetblue;">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>>
            <div class="col mt-3">
                <div class="card" style="width: 18rem;">
                    <img src="../images/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Cute cat2</h5>
                        <p class="card-text" style="text-align: center;">This photo is one of cat that I thought it's cute.</p>
                        <div style="text-align: center;">
                            <a href="../index.html" class="btn btn-primary" style="background-color: cadetblue;">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>>
            <div class="col mt-3">
                <div class="card" style="width: 18rem;">
                    <img src="../images/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Cute cat3</h5>
                        <p class="card-text" style="text-align: center;">This photo is one of cat that I thought it's cute.</p>
                        <div style="text-align: center;">
                            <a href="../index.html" class="btn btn-primary" style="background-color: cadetblue;">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>>
        </div>
    </div>
    {% endblock content %}